
@* @model IEnumerable<Imaginary_Dealer.Models.Model> *@
 @model IEnumerable<Imaginary_Dealer.Models.Model>
@* <br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Models of Vehicle</h2>
    </div>
   
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp; Add New Model</a>
    </div>
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Brand)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Brand.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>

                    <td class="text-right">
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa-regular fa-pen-to-square"></i></a>

                            <form method="post" action="@Url.Action("Delete", new { id = item.Id })">
                                <button onclick="return confirm('Are you sure you want to delete this brand?');" type="submit" class="btn btn-danger btn-sm"> <i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </td>

                   
                </tr>
            }

        </table>
    </div> 
</div>
 *@



                          
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brand List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-info">
                    <tr>
                        <th> Model Name</th>
                        <th class="text-right">
                            <a class="btn btn-info btn-sm" asp-action="Create"><i class="fa-solid fa-motorcycle">&nbsp; ADD  </i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td class="text-right">
                                <div class="btn-group" role="group">
                                    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa-regular fa-pen-to-square"></i></a>

                                    <form method="post" action="@Url.Action("Delete", new { id = item.Id })">
                                        <button onclick="return confirm('Are you sure you want to delete this brand?');" type="submit" class="btn btn-danger btn-sm" > <i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>
